
 <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br>
      <a routerLink="/products/Ho" class="btn btn-danger">List Products Ho</a>
      <br>
      <br>
      <a *ngIf="bo=='Bo1'" routerLink="/products/Bo1" class="btn btn-primary">List Products</a>
      <a *ngIf="bo=='Bo2'" routerLink="/products/Bo2" class="btn btn-primary">List Products</a>
     
      <a *ngIf="bo=='Bo1'" style="margin-left:10px" routerLink="/add/Bo1" class="btn btn-success">Add Products</a>
      <a *ngIf="bo=='Bo2'" style="margin-left:10px" routerLink="/add/Bo2" class="btn btn-success">Add Products</a>
      <br>
    </div>
  </div>


<h2>Update Product</h2>
<form (ngSubmit)="updateProduct()" #productForm="ngForm">
    <div class="form-group">
        <label for="name">Name:</label>
        <input [(ngModel)]="product.product
        " placeholder="Name" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="region">region:</label>
        <input [(ngModel)]="product.region" placeholder="region" name="region" class="form-control" id="region">
    </div>
    <div class="form-group">
        <label for="qty">qty:</label>
        <input [(ngModel)]="product.qty" placeholder="qty" name="qty" class="form-control" id="qty">
    </div>
    <div class="form-group">
        <label for="cost">cost:</label>
        <input [(ngModel)]="product.cost" placeholder="cost" name="cost" class="form-control" id="cost">
    </div>
   
    <div class="form-group">
        <label for="qty">tax:</label>
        <input [(ngModel)]="product.tax" placeholder="tax" name="tax" class="form-control" id="tax">
    </div>
    <div class="form-group">
        <label for="qty">total:</label>
        <input [(ngModel)]="product.total" placeholder="total" name="total" class="form-control" id="total">
    </div>
    <div class="form-group">
        <label for="bo_num">bo_num:</label>
        <input [(ngModel)]="product.bo_num" placeholder="bo_num" name="bo_num" class="form-control" id="bo_num">
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>